<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>漏洞3-粗心大意的程序员</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/signin.css" rel="stylesheet"/>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <form class="form-signin" role="form" action="/administrator/signin" method="post">
    <h2 class="form-signin-heading">后台管理系统</h2>
    <div class="alert alert-warning">不错，您找到了管理后台，请继续完成漏洞3的第二部分</div>
    <input id="username" name="username" type="text" class="form-control" placeholder="Username" required autofocus>
    <input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-success btn-block" type="submit">登录</button>
  </form>
  <!-- TODO: Change default password when first login. admin:1qaz!QAZ -->
</div>

</body>
</html>