<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact Us</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/customize.css" rel="stylesheet"/>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <div id="contact">

    <p>
      <img src="/img/contact.png"/>
    </p>

    <p>
      You can contact us by:
    </p>

    <p>
      <span>e: info-cn@thoughtworks.com</span><br/>
      <span>t: 56933000</span><br/>
      <span>a: ThoughtWorks Software Technologies Ltd.
        Room 1105, 11th Floor GuoHua Plaza
        No.3 Dongzhimen South Street, Dongcheng District
        Beijing, China</span>
    </p>

    <p>
      <a href="/management/login">Click here</a> to return to the login page.
    </p>
  </div>
</div>

</body>
</html>