<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>寻找忘记删除掉的页面</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/customize.css" rel="stylesheet"/>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <div class="wrapper-center">

    <p>
      <img src="/img/find.png"/>
    </p>

    <p>
      有些时候人们会忘掉删除某些临时页面，测试页面，而这类页面很可能会泄露一些敏感信息。试试寻找一下这样的页面吧。
    </p>
  </div>
</div>

</body>
</html>