<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>漏洞6-千里之堤毁于蚁穴</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/signin.css" rel="stylesheet"/>
  <link href="/css/customize.css" rel="stylesheet"/>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <% if (!locals[:success].nil?) %>
      <div class="panel panel-success congratulation">
        <div class="panel-heading">恭喜!</div>
        <div class="panel-body">
          <p>你完成了最后一个安全挑战！</p>

          <p>
            Security awareness is very important. Even the system is not vulnerable, but human often make mistakes,
            remember that, little leaks sink the ship, <b>you</b> are the weakest link.
          </p>

          <h4>Token</h4>

          <p>
          <div class="alert alert-warning">
            <span class="text-danger"><strong>重要</strong>:这是你的Token: <strong><%= session[:token_6] %></strong> ，请复制下来并且到英雄榜上提交。</span>
          </div>
          </p>
        </div>
      </div>
  <% else %>
      <form class="form-signin" role="form" action="/management/login" method="post">
        <h2 class="form-signin-heading">请登录管理系统</h2>
        <input id="username" name="username" type="text" class="form-control" placeholder="Username" required autofocus>
        <input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>

      <% if (!locals[:message].nil?) %>
          <p class="wrapper-center"><%= locals[:message] %></p>
      <% end %>
  <% end %>

  <div class="wrapper-center" id="management-footer">
    <p>
      <a href="about">About Us</a> |
      <a href="contact">Contact Us</a> |
      <a href="privacy">Privacy Policy</a>
    </p>
  </div>
</div>

</body>
</html>